// 颜色定义规范
$fc33 = #333
$fc66 = #666
$fc99 = #999
$fcff = #fff

$color-theme = #ea6f5a
$color-title = #4fc08d

//字体定义规范
$f10 = 10px
$f12 = 12px
$f14 = 14px
$f16 = 16px
$f18 = 18px
$f22 = 22px
$f24 = 24px
$f28 = 28px
